[MASTER]
extension-pkg-whitelist = netifaces
ignore-paths = meshping/.[^/]+/migrations

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
disable=missing-function-docstring,missing-class-docstring,missing-module-docstring,no-member,fixme

[DESIGN]
max-public-methods=100

[REPORTS]
reports=y
