image: svedrin/meshping:staging

manifests:

  - image: svedrin/meshping:staging-amd64
    platform:
      architecture: amd64
      os: linux

  - image: svedrin/meshping:staging-armv7l
    platform:
      architecture: arm
      os: linux
      variant: v7

  - image: svedrin/meshping:staging-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
