{{#equal build.branch "master"}}

image: svedrin/meshping:latest

manifests:

  - image: svedrin/meshping:latest-amd64
    platform:
      architecture: amd64
      os: linux

  - image: svedrin/meshping:latest-armv7l
    platform:
      architecture: arm
      os: linux
      variant: v7

  - image: svedrin/meshping:latest-arm64
    platform:
      architecture: arm64
      os: linux

{{/equal}}
{{#equal build.branch "staging"}}

image: svedrin/meshping:{{build.branch}}

manifests:

  - image: svedrin/meshping:{{build.branch}}-amd64
    platform:
      architecture: amd64
      os: linux

  - image: svedrin/meshping:{{build.branch}}-armv7l
    platform:
      architecture: arm
      os: linux
      variant: v7

  - image: svedrin/meshping:{{build.branch}}-arm64-v8
    platform:
      architecture: arm64
      os: linux
      variant: v8

{{/equal}}
