image: svedrin/meshping:{{build.tag}}

manifests:

  - image: svedrin/meshping:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux

  - image: svedrin/meshping:{{build.tag}}-armv7l
    platform:
      architecture: arm
      os: linux
      variant: v7

  - image: svedrin/meshping:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
