[Unit]
Description=meshping
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/python -- /opt/meshping/src/meshping.py

[Install]
WantedBy=multi-user.target
