[Unit]
Description=meshping
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/python -- /opt/meshping/meshping.py
ExecStartPost=/bin/bash /opt/meshping/targets.sh

[Install]
WantedBy=multi-user.target
