<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/ui/node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/ui/node_modules/vue-resource/dist/vue-resource.min.js"></script>
  </head>
  <body>
    <h1>Meshping</h1>
    <a href="/metrics">metrics</a>
    <div id="app">
    {% raw %}
      <table cellspacing="10px">
        <tr>
          <th>Target</th>
          <th>Address</th>
          <th>Sent</th>
          <th>Recv</th>
          <th>Succ</th>
          <th>Loss</th>
          <th>Min</th>
          <th>Avg15m</th>
          <th>Avg6h</th>
          <th>Avg24h</th>
          <th>Max</th>
          <th>Last</th>
        </tr>
        <tr v-for="target in targets" :key="target.addr">
          <td>{{ target.name }}</td>
          <td>{{ target.addr }}</td>
          <td align="right">{{ target.sent }}</td>
          <td align="right">{{ target.recv }}</td>
          <td align="right">{{ target.succ.toFixed(2)   }}</td>
          <td align="right">{{ target.loss.toFixed(2)   }}</td>
          <td align="right">{{ target.min.toFixed(2)    }}</td>
          <td align="right">{{ target.avg15m.toFixed(2) }}</td>
          <td align="right">{{ target.avg6h.toFixed(2)  }}</td>
          <td align="right">{{ target.avg24h.toFixed(2) }}</td>
          <td align="right">{{ target.max.toFixed(2)    }}</td>
          <td align="right">{{ target.last.toFixed(2)   }}</td>
        </tr>
      </table>
    {% endraw %}
    </div>
    <script type="text/javascript" src="/ui/src/main.js"></script>
  </body>
</html>
