<!DOCTYPE html>
<html>
  <head>
    <title>{[ Hostname ]} &mdash; Meshping</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <link rel="stylesheet"        href="/ui/node_modules/bootstrap/dist/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="/ui/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="/ui/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/ui/node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/ui/node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script type="text/javascript">
      window.meshping_hostname = "{[ Hostname ]}";
    </script>
  </head>
  <body>
    <div class="container mx-0 mx-lg-auto mt-md-3">
      <h1>Meshping: {[ Hostname ]}</h1>
      <div id="app">
        <div class="btn-toolbar justify-content-between py-sm-3" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="Links">
            <a type="button" class="btn btn-light d-none d-lg-inline" href="/metrics">Metrics</a>
            <button type="button" class="btn btn-light d-none d-lg-inline" v-on:click="clear_stats">Clear statistics</button>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupSearch">Search</div>
            </div>
            <input type="text" v-model="search" id="inpsearch" class="form-control" placeholder="Name or IP" aria-label="Name or IP" aria-describedby="btnGroupSearch">
          </div>
        </div>
        <div class="alert alert-success" v-show="success_msg !== ''">
          <a href="#" class="close" aria-label="close" v-on:click="success_msg = ''">&times;</a>
          <span v-html="success_msg"></span>
        </div>
        <table class="table">
          <tr>
            <th>&nbsp;</th>
            <th>Target</th>
            <th class="d-none d-sm-table-cell">Address</th>
            <th class="text-right d-none d-lg-table-cell">Sent</th>
            <th class="text-right d-none d-xl-table-cell">Recv</th>
            <th class="text-right">Succ</th>
            <th class="text-right d-none d-xl-table-cell">Loss</th>
            <th class="text-right d-none d-lg-table-cell">Min</th>
            <th class="text-right">Avg15m</th>
            <th class="text-right d-none d-lg-table-cell">Avg6h</th>
            <th class="text-right d-none d-lg-table-cell">Avg24h</th>
            <th class="text-right d-none d-lg-table-cell">Max</th>
            <th class="text-right">Last</th>
            <th>&nbsp;</th>
          </tr>
          <tr v-if="targets_all.length == 0 &amp;&amp; last_update == 0">
            <td colspan="14"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading</td>
          </tr>
          <tr v-if="targets_all.length == 0 &amp;&amp; last_update != 0">
            <td colspan="14">No targets configured</td>
          </tr>
          <tr v-if="targets_filtered.length == 0 &amp;&amp; targets_all.length > 0">
            <td colspan="14">No targets match your search</td>
          </tr>
          <tr
            v-show="targets_filtered.length > 0" style="display: none"
            v-for="target in targets_filtered" v-bind:key="target.addr"
          >
            <td>
              <span v-if="target.state == 'up' &amp;&amp; target.avg15m &lt;= target.avg24h * 1.05" title="Target is up and well" class="text-success">
                {[ icons['check-circle.svg'] ]}
              </span>
              <span v-if="target.state == 'up' &amp;&amp; target.avg15m &gt;  target.avg24h * 1.05" title="Target is up but latency is increasing" class="text-warning">
                {[ icons['arrow-up-right-circle.svg'] ]}
              </span>
              <span v-if="target.state == 'down'" title="Target is down" class="text-danger">
                {[ icons['x-circle.svg'] ]}
              </span>
              <span v-if="target.state == 'unknown'" title="Target state is unknown" class="text-secondary">
                {[ icons['question-circle.svg'] ]}
              </span>
              <span v-if="target.state == 'error'" v-bind:title="'Error: ' + target.error" class="text-danger">
                {[ icons['exclamation-circle.svg'] ]}
              </span>
            </td>
            <td>{{ target.name }}<span class="d-inline d-sm-none text-secondary"><br />{{ target.addr }}</span></td>
            <td class="d-none d-sm-table-cell">{{ target.addr }}</td>
            <td class="text-right d-none d-lg-table-cell">{{ target.sent }}</td>
            <td class="text-right d-none d-xl-table-cell">{{ target.recv }}</td>
            <td class="text-right">{{ target.succ   | prettyFloat }}</td>
            <td class="text-right d-none d-xl-table-cell">{{ target.loss   | prettyFloat }}</td>
            <td class="text-right d-none d-lg-table-cell">{{ target.min    | prettyFloat }}</td>
            <td class="text-right">{{ target.avg15m | prettyFloat }}</td>
            <td class="text-right d-none d-lg-table-cell">{{ target.avg6h  | prettyFloat }}</td>
            <td class="text-right d-none d-lg-table-cell">{{ target.avg24h | prettyFloat }}</td>
            <td class="text-right d-none d-lg-table-cell">{{ target.max    | prettyFloat }}</td>
            <td class="text-right">{{ target.last   | prettyFloat }}</td>
            <td style="white-space: nowrap">
              <a v-if="target.recv > 0"
                 v-bind:href="'/histogram/' + hostname + '/' + target.addr + '.png'" target="_blank">
                <img class="border" src="/ui/node_modules/bootstrap-icons/icons/graph-up.svg" alt="graph" title="Graph" />
              </a>
              <img class="border d-none d-lg-inline" src="/ui/node_modules/bootstrap-icons/icons/trash.svg" alt="del" title="Delete Target" v-on:click="delete_target(target)" />
            </td>
          </tr>
          <tr>
            <td class="d-none d-sm-table-cell">&nbsp;</td>
            <td colspan="2"><input type="text" class="form-control" v-model="add_tgt_name" placeholder="example.com" /></td>
            <td colspan="2"><input type="text" class="form-control" v-model="add_tgt_addr" placeholder="1.2.3.4 (optional)" /></td>
            <td><button class="form-control" v-on:click="create_target()">&plus;</button></td>
            <td>&nbsp;</td>
            <td colspan="6" class="d-none d-lg-table-cell">&nbsp;</td>
            <td colspan="2" class="d-none d-xl-table-cell">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="/ui/src/main.js"></script>
  </body>
</html>
